.container {
    display: block;
    width: 100%;
    max-width: $container-width * 1px;

    padding: 0px 1rem;
    margin: 0px auto;

    &-fluid {
        display: flex;
        flex-direction: column;

        width: 100%;

        padding: 1rem 0px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}