.btn {
    display: inline-block;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
}






@each $name, $color in $theme-colors {
    .btn-#{$name} {
        background-color: $color;
        color: white;

        &:hover {
            background-color: adjust-color($color, $lightness: -15%);
        }
    }
}