.btn {
    display: inline-block;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--white);
}

@each $name, $color in $theme-colors {
    .btn-#{$name} {
        background-color: var(--#{$name}-color);
        color: set-btn-text-color($color);

        &:hover {
            background-color: darken($color, set-btn-darken-percentage($color));
        }
    }
}